* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    padding: 30px;
}
.card .card-header .card-header-right {
    border-radius: 0 0 0 7px;
    right: 20px;
    top: 27px;
    display: inline-block;
    float: right;
    padding: 7px 0;
    position: absolute;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;}

.dataTables_wrapper {
    padding: 0;
    width: 100%;
}
.dataTables_wrapper .dataTables_length {
    margin-bottom: 30px;
}
table.dataTable:not(.fixedHeader-locked):not(.fixedHeader-floating) {
    width: 100% !important;
}
.dataTables_wrapper table.dataTable {
    border: 1px solid #ddd;
}
.dataTables_wrapper .dataTables_filter input[type="search"] {
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-left: 10px;
    height: 37px;
    border-radius: 0;
}
div.dataTables_wrapper div.dataTables_length select {
    vertical-align: middle;
    min-height: 2em;
}

.card .card-body {
    padding: 30px;
}

table.dataTable.display tbody tr.odd > .sorting_1 {
    background-color: #f6f6f6;
}
.btn-primary {
    background-color: #ab8ce4 !important;
    border-color: #ab8ce4 !important;
}


.card {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 6px 5px 17px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 6px 5px 17px 2px rgba(0, 0, 0, 0.08);
}


/*...........tabing css................*/
.nav-tabs {
     border:none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color: #495057;
      background-color: transparent;

    border: none;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border:none;}

.tab-pannel{position: relative;}
.tab-seting{ position: absolute; z-index: 2;}
.nav-tabs .nav-link{
    border: none;
}

.single-item hr{
    width: 100%;
    background-color: gray;
}
.single-item hr:nth-last-child(1){
    display: none;
}
.logo img{
    width:70px;
    margin: 2px 0px;
}



