<template>
  <div>
 <video-bg :sources="[postTitle]" ></video-bg>
</div>
</template>

<script>
import VideoBg from 'vue-videobg'
    export default {
         components: { VideoBg },
         props: ['postTitle'],
    }
</script>
