<template>
    <div >
        <Subscribe post-title="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" />
    </div>
</template>

<script>
import VideoBg from 'vue-videobg'
    export default {
        components: { VideoBg },
        mounted() {
        }
    }
</script>
