<template>
	<div>
		<nav class="navbar navbar-b navbar-trans header_navbar_set navbar-expand-xl fixed-top navbar-responsive-set" id="mainNav" v-bind:style="{ backgroundColor: menubgcolor }" :class=myclass>
		    <div class="container">
		        
		        <router-link :to="{ name: 'welcome'}" class="navbar-brand navbar_brand_set"><img :src="logo" alt="" class="img-fluid" width="100px"></router-link>
		        <button class="navbar-toggler navabr_btn-set collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
		            <span></span>
		            <span></span>
		            <span></span>
		        </button>
		        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
		            <ul class="navbar-nav navbar_nav_modify">
		                <li class="nav-item">
		                    <router-link :to="{ name: 'homesliders'}" class="nav-link js-scroll">The ACE</router-link>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">Location</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">Views</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">Amenities</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">Life Style</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">Smart & Security</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">SSGF</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">Floor Plan</a>
		                </li>
		                <li class="nav-item">
		                    <router-link :to="{ name: 'gallery'}" class="nav-link js-scroll">Gallery</router-link>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link js-scroll" href="#">About Us</a>
		                </li>
		                <li class="nav-item">
		                    <router-link :to="{ name: 'news'}" class="nav-link js-scroll">News</router-link>
		                </li>
		                <li class="nav-item">
		                    <router-link :to="{ name: 'contactus'}" class="nav-link js-scroll">Contact Us</router-link>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>
	</div>
</template>

<script>
	export default{
		name:'menubar',
		props:['menubgcolor','myclass'],
		data(){
			return{
				logo:'/front/images/ace-logo_set.png'
			}
		}
	}
</script>