<template>
	<div>
		<div class="contact_bg_img">
			<Menubar></Menubar>
			<div class="form_wrapper">
				<div class="form_container">
					<div class="row clearfix form_width_set">
						<div class="">
							<form method="post" @submit.prevent="apply_enquiry">
								<div class="" v-if="msg">
									<div class="contact_popup">
										{{ msg }}
									</div>
								</div>
								<div class="input_field">
									<input type="text" name="name" v-model="enquiry.your_name" placeholder="NAME" :class="{ 'error': post_error.your_name }" />
								</div>
								<div class="input_field">
									<input type="text" name="email" v-model="enquiry.your_email" placeholder="EMAIL" :class="{ 'error': post_error.your_email }" />
								</div>
								<div class="input_field">
									<input type="text" name="phone" v-model="enquiry.your_phone" placeholder="PHONE" :class="{ 'error': post_error.your_phone }" />
								</div>
								<div class="input_field">
									<input type="text" name="add" v-model="enquiry.your_address" placeholder="ADDRESS" :class="{ 'error': post_error.your_address }" />
								</div>
								<div class="input_field">
									<select name="country" v-model="enquiry.your_country" :class="{ 'error': post_error.your_country }" >
										<option value="">COUNTRY</option>
										<option v-for="c in countries" v-bind:value="c.id">{{ c.country_name }}</option>
									</select>
								</div>
								<div class="input_field">
									<input type="text" name="city" v-model="enquiry.your_city" placeholder="CITY" :class="{ 'error': post_error.your_city }" />
								</div>
								<div class="row clearfix">
									<div class="col-6 pr_7">
										<div class="input_field">
											<input type="text" name="state" v-model="enquiry.your_state" placeholder="STATE" :class="{ 'error': post_error.your_state }" class="half-column1"/>
										</div>
									</div>
									<div class="col-6 pl_7">
										<div class="input_field">
											<input type="text" name="zip" v-model="enquiry.your_zip" placeholder="ZIP" :class="{ 'error': post_error.your_zip }" class="half-column2" />
										</div>
									</div>
								</div>
								<div class="input_field">
									<select name="homesize" v-model="enquiry.your_homesize" :class="{ 'error': post_error.your_homesize }">
										<option value="">PREFERRED HOME SIZE?</option>
										<option v-for="h in homesizes" v-bind:value="h.id">{{ h.size_name }}</option>
									</select>
								</div>
								<div class="input_field">
									<select name="broker" v-model="enquiry.your_broker" :class="{ 'error': post_error.your_broker }">
										<option value="">ARE YOU A BROKER?</option>
										<option v-for="b in brokers" v-bind:value="b.id">{{ b.broker_name }}</option>
									</select>
								</div>
								<div class="input_field">
									<select name="reference" v-model="enquiry.your_reference" :class="{ 'error': post_error.your_reference }">
										<option value="">HOW DID YOU HEAR ABOUT AD?</option>
										<option v-for="r in references" v-bind:value="r.id">{{ r.reference_name }}</option>
									</select>
								</div>
								<input class="button btn-set" type="submit" value="Register" />
							</form>
						</div>
					</div>

					<div class="title_container">
						<p v-html="contact.description"></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default{
	name:'contactus',
	data(){
		return{
			contact:[],
			countries:[],
			homesizes:[],
			brokers:[],
			references:[],

			msg:"",

			enquiry:{
				your_name:"",
				your_email:"",
				your_phone:"",
				your_address:"",
				your_country:"",
				your_city:"",
				your_state:"",
				your_zip:"",
				your_homesize:"",
				your_broker:"",
				your_reference:"",
			},

			post_error:[]
		}
	},
	beforeCreate(){
		axios.get('/get-option/1').then(response=>{
           this.contact = response.data
	    }),
		axios.get('/get-contact-country').then(response=>{
           this.countries = response.data
	    }),
	    axios.get('/get-contact-homesizes').then(response=>{
           this.homesizes = response.data
	    }),
	    axios.get('/get-contact-brokers').then(response=>{
           this.brokers = response.data
	    }),
	    axios.get('/get-contact-references').then(response=>{
           this.references = response.data
	    })
	},
	methods:{
		apply_enquiry(){

            axios.post("/apply-for-enquiry",this.enquiry).then(response => {

            	this.msg = "Thank You For Apply for Enquiry we will call as soon as posible";

            	this.post_error=[];

                this.enquiry.your_name = '';
                this.enquiry.your_email = '';
                this.enquiry.your_phone = '';
                this.enquiry.your_address = '';
                this.enquiry.your_country = '';
                this.enquiry.your_city = '';
                this.enquiry.your_state = '';
                this.enquiry.your_zip = '';
                this.enquiry.your_homesize = '';
                this.enquiry.your_broker = '';
                this.enquiry.your_reference = '';

                setInterval(function(){
                    this.msg = "";
                }.bind(this), 9000);
            })
            .catch(error => {
				this.post_error = error.response.data.errors;
			});
        }
	}
}
</script>
<style scoped>
.error{
	border: 1px solid #ff879b;
}
</style>