<template>
	<div>
		<section class="bg-dark-grey">
			<menubar menubgcolor='' myclass=""></menubar>
			<div class="gallery portfolio-section  zoom-gallery">
	            <div class="container">
	                <h2>Gallery</h2>
	                <div class="row row_center">
	                    <div class="col-md-3 col-sm-12 gallery-item p5" v-for="(gallery, index) in galleries">
					        <div>
					          <img v-lazy="gallery.src" @click="openGallery(index)" class="'img-fluid img-gallery'" alt="First gallery">
					        </div>
					    </div>
	                </div>

	                <LightBox :images="galleries" ref="lightbox" :show-caption="true" :show-light-box="false">
				    </LightBox>

	                <div class="gallery_pagination">
	                    <div class="pagination1">
	                        <a href="#">&laquo;</a>
	                        <a data-target="#carouselGallery" data-slide-to="1">1</a>
	                        <a data-target="#carouselGallery" data-slide-to="2">2</a>
	                        <a data-target="#carouselGallery" data-slide-to="3">3</a>
	                        <a data-target="#carouselGallery" data-slide-to="4">4</a>
	                        <a data-target="#carouselGallery" data-slide-to="5">5</a>
	                        <a data-target="#carouselGallery" data-slide-to="6">6</a>

	                        <a href="#">&raquo;</a>
	                    </div>
	                </div>

	                <h2>Overseas</h2>
	                <div class="row row_center">
	                    <div class="col-md-3 col-sm-12 gallery-item p5" v-for="(gallery, index) in overseas">
					        <div>
					          <img v-lazy="gallery.src" @click="openOverseas(index)" class="'img-fluid img-gallery'" alt="First gallery">
					        </div>
					    </div>
	                </div>

	                <LightBox :images="galleries" ref="lightbox" :show-caption="true" :show-light-box="false">
				    </LightBox>
	                <div class="gallery_pagination">
	                    <div class="pagination1">
	                        <a href="#">&laquo;</a>
	                        <a href="#">1</a>
	                        <a href="#">2</a>
	                        <a href="#">3</a>
	                        <a href="#">4</a>
	                        <a href="#">5</a>
	                        <a href="#">6</a>
	                        <a href="#">&raquo;</a>
	                    </div>
	                </div>
	                <h2>Constration Status</h2>
	                <div class="row row_center">
	                    <div class="col-md-3 col-sm-12 gallery-item p5" v-for="(gallery, index) in constration_status">
					        <div>
					          <img v-lazy="gallery.src" @click="openConstration_status(index)" class="'img-fluid img-gallery'" alt="First gallery">
					        </div>
					    </div>
	                </div>

	                <LightBox :images="galleries" ref="lightbox" :show-caption="true" :show-light-box="false">
				    </LightBox>
	                <div class="gallery_pagination">
	                    <div class="pagination1">
	                        <a href="#">&laquo;</a>
	                        <a href="#">1</a>
	                        <a href="#">2</a>
	                        <a href="#">3</a>
	                        <a href="#">4</a>
	                        <a href="#">5</a>
	                        <a href="#">6</a>
	                        <a href="#">&raquo;</a>
	                    </div>
	                </div>
	            </div>
        	</div>
		</section>
	</div>
</template>
<script>
import LightBox from 'vue-image-lightbox'
export default {
	name:'gallery',
	components: {
		LightBox,
	},
	data() {
		return {
			galleries:[],
			overseas:[],
			constration_status:[],
		}
	},
	methods: {
		openGallery(index) {
		  this.$refs.lightbox.showImage(index)
		},
		openOverseas(index) {
		  this.$refs.lightbox.showImage(index)
		},
		openConstration_status(index) {
		  this.$refs.lightbox.showImage(index)
		}
	},
	created(){
		axios.get('/get-galleries/0').then(response=>{
		   this.galleries = response.data
		}),
		axios.get('/get-galleries/1').then(response=>{
		   this.overseas = response.data
		}),
		axios.get('/get-galleries/2').then(response=>{
		   this.constration_status = response.data
		})
	},
}
</script>