<template>
	<div>
		<section class="home_slider_section bg-black" v-bind:style="{ backgroundColor: bgcolor }">
		    <menubar :menubgcolor=bgcolor></menubar>
		    <div class="container">
			    <div class="home-wrapper">
		        	<div class="home_slider_set">
		                <div class="slider">
	                		<swiper :options="swiperOption" @slideChange="runOnChange" ref="mySwiper">
								<swiper-slide v-for="(s, index) in sliders" :key="index">
									<a :href="s.link">
										<img :src="'/uploads/homeslider/'+s.background_image" class="homeslider_img" />
									</a>
						        </swiper-slide>
							</swiper>
							<div class="mycontent_wrapper ">
								<div class="subtitle" >
<span v-for="(s, index) in sliders" :key="index" v-text="s.subtitle" v-bind:style="{ color: s.font_color, transform: 'translateY(-'+tra1+'%)' }"></span>
								</div>
								<div class="title">
<span v-for="(s, index) in sliders" :key="index" v-text="s.title" v-bind:style="{ color: s.font_color, transform: 'translateY(-'+tra2+'%)' }"></span>
								</div>
								<div class="description">
<span v-for="(s, index) in sliders" :key="index" v-html="s.description.substring(0,50)" v-bind:style="{ color: s.font_color, transform: 'translateY(-'+tra3+'%)' }"></span>
								</div>
				            </div>
		                </div>
		            </div>
			    </div>
		    </div>
		</section>
	</div>
</template>

<script>

	import { swiper, swiperSlide } from 'vue-awesome-swiper'

    export default {
    	name:'homesliders',
    	components: {
		    swiper,
		    swiperSlide
	  	},
    	data(){
			return{
				tra1:0,
				tra2:0,
				tra3:0,
				bgcolor:'',
				bgcolors:[],
				sliders:[],
				swiperOption: {
					speed: 600,
					direction: 'vertical',
					slidesPerView: 1,
					mousewheel: true,
					spaceBetween:30,
					effect:'slide',
					keyboard: {
		            	enabled: true,
		          	},
					pagination: {
			            el: '.swiper-pagination',
			            clickable: true
			        }
		        },
			}
		},
        beforeCreate(){
			axios.get('/get-home-sliders/').then(response=>{
	           this.sliders = response.data

	           for(var i=0;i<this.sliders.length;i++)
	           {
	           		this.bgcolors[i] = this.sliders[i].background_color;
	           }

	           this.bgcolor = this.bgcolors[0];
		    })
		},
		methods:{
			runOnChange(){
				var colorindex = this.$refs.mySwiper.swiper.activeIndex;
				this.bgcolor = this.bgcolors[colorindex];
				this.tra1 = colorindex*100;
				this.tra2 = colorindex*100;
				this.tra3 = colorindex*100;
			}
		}
    }
</script>

<style scoped>
	.slider{
		width: 100%;
		height: 88vh;
		background-repeat: no-repeat;
		position: relative;
		margin-top: 120px;
		background-size: cover;
	}
</style>
