<template>
	<div>
		<section class="home_slider_section bg-black" v-bind:style="{ backgroundColor: bgcolor }">
		    <menubar :menubgcolor=bgcolor></menubar>
		    <div class="container">
			    <div class="home-wrapper">
		        	<div class="home_slider_set">
		                <div class="slider_1">
	                		<swiper :options="swiperOption" @slideChange="runOnChange" ref="mySwiper">
								<swiper-slide v-for="(s, index) in sliders" :key="index">
									
									<img :src="'/uploads/homeslider/'+s.background_image" style="width: 100%; height: 100vh;" />
									
						        </swiper-slide>
							</swiper>
							<div class="mycontent_wrapper">
								<div class="subtitle" >
<span v-for="(s, index) in sliders" :key="index" v-text="s.subtitle" v-bind:style="{ color: s.font_color, transform: 'translateY(-'+tra1+'%)' }"></span>
								</div>
								<div class="title">
<span v-for="(s, index) in sliders" :key="index" v-text="s.title" v-bind:style="{ color: s.font_color, transform: 'translateY(-'+tra2+'%)' }"></span>
								</div>
								<div class="description">
<span v-for="(s, index) in sliders" :key="index" v-html="s.description.substring(0,50)" v-bind:style="{ color: s.font_color, transform: 'translateY(-'+tra3+'%)' }"></span>
								</div>
				            </div>
		                </div>
		            </div>
			    </div>
		    </div>
		</section>
	</div>
</template>

<script>

	import { swiper, swiperSlide } from 'vue-awesome-swiper'

    export default {
    	name:'homesliders',
    	components: {
		    swiper,
		    swiperSlide
	  	},
    	data(){
			return{
				tra1:0,
				tra2:0,
				tra3:0,
				bgcolor:'',
				bgcolors:[],
				sliders:[],
				swiperOption: {
					speed: 600,
					direction: 'vertical',
					slidesPerView: 1,
					mousewheel: true,
					spaceBetween:30,
					effect:'slide',
					pagination: {
			            el: '.swiper-pagination',
			            clickable: true
			        }
		        },
			}
		},
        beforeCreate(){
			axios.get('/get-home-sliders/').then(response=>{
	           this.sliders = response.data

	           for(var i=0;i<this.sliders.length;i++)
	           {
	           		this.bgcolors[i] = this.sliders[i].background_color;
	           }

	           this.bgcolor = this.bgcolors[0];
		    })
		},
		methods:{
			runOnChange(){
				var colorindex = this.$refs.mySwiper.swiper.activeIndex;
				this.bgcolor = this.bgcolors[colorindex];
				this.tra1 = colorindex*100;
				this.tra2 = colorindex*100;
				this.tra3 = colorindex*100;
			}
		}
    }
</script>

<style scoped>
	.swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: initial !important;
    }

	.mycontent_wrapper{
		position: fixed;
		top: 42%;
		height: 100%;
		pointer-events: none;
		left: 44%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
		max-width: 1140px;
		color: #fff;
		z-index: 99;
	}
	
	.mycontent_wrapper .subtitle{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    font-size: 25px;
    line-height: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    color: white;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    height: 30px;
}

.mycontent_wrapper .title{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 2px 0 0;
    font-size: 70px;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    color: white;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    height: 85px;
}

.mycontent_wrapper .description{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: white;
    -webkit-transform: translateY(85px);
    -ms-transform: translateY(85px);
    transform: translateY(85px);
    height: 25px;
}


.mycontent_wrapper .description span p{
    margin: 0px;
}


@keyframes message{
	from, to, 65% {transform: translateY(0)}
	25% {transform: translateY(30px)}
	26% {transform: translateY(-30px)}

}

.mycontent_wrapper .subtitle span, .mycontent_wrapper .title span, .mycontent_wrapper .description span{
	width: 100%;
	display: block;
    overflow: hidden;
    -webkit-transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

</style>