<template>
	<div>
		<section class="home_slider_section bg-black">
		    <menubar></menubar>
		    <div class="container">
			    <div class="home-wrapper">
		        	<div class="home_slider_set">
		                <div class="slider_1">
	                		<swiper :options="swiperOption">
								<swiper-slide v-for="(s, index) in sliders" :key="index">
									<img :src="'/uploads/homeslider/'+s.background_image"  v-bind:style="{ height:'100vh !important' }" />
								</swiper-slide>
							</swiper>
		                </div>
		            </div>
			    </div>
		    </div>
		</section>
	</div>
</template>

<script>

	import { swiper, swiperSlide } from 'vue-awesome-swiper'

    export default {
    	name:'homesliders',
    	components: {
		    swiper,
		    swiperSlide
	  	},
    	data(){
			return{
				sliders:[],
				swiperOption: {
					speed: 600,
					direction: 'vertical',
					slidesPerView: 1,
					mousewheel: true,
					spaceBetween:30,
					effect:'slide',
					pagination: {
			            el: '.swiper-pagination',
			            clickable: true
			        },
		        },
			}
		},
        beforeCreate(){
			axios.get('/get-home-sliders/').then(response=>{
	           this.sliders = response.data
	           console.log(this.sliders);
		    })
		}
    }
</script>

<style scoped>
	.swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
    }
</style>