<template>
	<div>
		<menubar menubgcolor='' myclass="about_as_black"></menubar>
		<swiper :options="swiperOption" @slideChange="runOnChange" ref="mySwiper">
			<swiper-slide>
				<div class="img-section">
					<div class='container '>
						<div class="container_news">
							<div class='single-item'>
								<h1 class="news_title">Digital News</h1>
								<div class="row">
									<div class="col-md-12">
										<ul style="list-style-type: none;" class="news_ul_a_tag p-0">
											<swiper :options="newsOption">
												<swiper-slide v-for="(n,index) in news" :key="index" v-if="n.medium == 0">

													<router-link :to="{ name: 'single-news', params: { slug: n.slug }}" style="display: flex">
														<li style="display:inline-flex" >
															<div class="news-list">
																<img :src="'https://one57.com/uploads/press/112.jpg'" class="news-list news-list-set1" />
															</div>
															<div class="news_li_content">
																<div class="news-item-content">
																	<h3 class="" v-text="n.title"></h3>
																	<h4 class="news-item-date" >{{ n.date | moment("MMMM D, YYYY") }}</h4>
																</div>
															</div>
															<div class="news-list">
																<img :src="'/uploads/news/'+n.image" class=" news-list news-list-set2"  />
															</div>
														</li>
													</router-link>

												</swiper-slide>

												<div class="news-swiper-pagination" slot="pagination"></div>
											</swiper>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</swiper-slide>
			<swiper-slide>
				<div class="img-section">
					<div class='container container_news'>
						<div class='single-item'>
							<h1 class="news_title">Printed News</h1>
							<div class="row">
								<div class="col-md-12">
									<ul style="list-style-type: none;" class="news_ul_a_tag">
										<swiper :options="newsOption">
											<swiper-slide v-for="(n,index) in news" :key="index" v-if="n.medium == 1">
												<router-link :to="{ name: 'single-news', params: { slug: n.slug }}" style="display: flex" class="m-0">
													<li style="display:inline-flex" >
														<div class="news-list">
															<img :src="'https://one57.com/uploads/press/112.jpg'" class="news-list news-list-set1"/>
														</div>
														<div class="news_li_content">
															<div class="news-item-content">
																<h3 class="" v-text="n.title"></h3>
																<h4 class="news-item-date" >{{ n.date | moment("MMMM D, YYYY") }}</h4>
															</div>
														</div>
														<div class="news-list">
															<img :src="'/uploads/news/'+n.image" class=" news-list news-list-set2"/>
														</div>
													</li>
												</router-link>
											</swiper-slide>

											<div class="news-swiper-pagination" slot="pagination"></div>
										</swiper>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</swiper-slide>
		</swiper>

		<div class="slider_nav">
			<ul class="nav">
				<li>News</li>
				<li><a href="">Digital News</a><div :class="{ 'dot': myindex == 0 }"></div></li>
				<li><a href="">Printed News</a><div :class="{ 'dot': myindex == 1 }"></div></li>
			</ul>
		</div>
	</div>
</template>

<script>
		import { swiper, swiperSlide } from 'vue-awesome-swiper'

	export default {
		name:'news',
		components: {
			swiper,
			swiperSlide
		},
		data() {
			return {
				myindex:0,
				news:[],
				swiperOption: {
					speed: 600,
					direction: 'vertical',
					slidesPerView: 1,
					spaceBetween:0,
					mousewheel: true,
					effect:'slide',
				},
				newsOption: {
					speed: 500,
					direction: 'horizontal',
					slidesPerView: 1,
					slidesPerColumn: 5,
					spaceBetween: 20,
					effect:'slide',
					pagination: {
						el: '.news-swiper-pagination',
						clickable: true
					},
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev'
					}
				},
			}
		},
		beforeCreate(){
			axios.get('/get-news/').then(response=>{
				this.news = response.data
				console.log(response.data);
			})
		},
		methods:{
			runOnChange(){
				this.myindex = this.$refs.mySwiper.swiper.activeIndex;

				console.log(this.$refs.mySwiper.getTranslate);
			}
		}
	}
</script>

<style scoped>
	.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
		width: 12px!important;
		height: 12px!important;
		display: inline-block;
		border-radius: 100%;
		background: #000 !important;
		opacity: 0.2;
	}
	.swiper-slide{
		margin-top: 15px!important;
	}
</style>