<template>
	<div>
		<menubar menubgcolor='' myclass="about_as_black"></menubar>
		<div id="wall">
		    <section id="color-black">
		        <div class="img-section">
		            <div class='container container_news'>
		                <div class='single-item'>
		                    <div class="row" style="display: flex">
		                        
		                        <div class="col-md-3">
		                            <div class="news-item-logo"></div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="news-item-content">
		                                <h3 class="news-item-title">Spring Garden Residence with Ryan Serhant</h3>
		                                <h4 class="news-item-date">January 22, 2019</h4>
		                            </div>
		                        </div>
		                        <div class="col-md-3">
		                            <div class="news-item-image"></div>
		                        </div>
		                        <hr>

		                    </div>
		                </div>
		                <div class="news_slider_content">
		                    <p>For press inquiries, please contact: M18 Public Relations
		                        Anna LaPorte +1 212-604-0318 or press@one57.com</p>
		                </div>
		            </div>
		        </div>
		    </section>
		</div>
		<div class="slider_nav">
		    <ul class="nav" data-wall-section-nav>
		        <li>Digital News</li>
		        <li>Print News</li>
		    </ul>
		</div>
	</div>
</template>

<script>
    export default {
    	name:'news',
    }
</script>