<template>
	<div>
		<menubar menubgcolor='' myclass="about_as_black"></menubar>
		<section>
		    <div class="container">
		        <div class="single_news_div">
		            <div class="single_news">
		                <ul>
		                   <li class="first_news_li"><router-link :to="{ name: 'news' }">Back</router-link></li>
		                   <li class="" v-if="prev"><router-link :to="{ name: 'single-news', params: { slug: prev.slug } }">Prev</router-link></li>
				           <li class="last_next" v-if="last"><router-link :to="{ name: 'single-news', params: { slug: last.slug } }">Last</router-link></li>
				           <li class="last_next" v-if="next"><router-link :to="{ name: 'single-news', params: { slug: next.slug } }">Next</router-link></li>
		                </ul>
		            </div>
		            <div class="news_border"></div>
		            <div class="single_news_content_img">
		                <div class="single_news_img">
		                    <img :src="path+single.image" class="img-fluid" alt="First image">
		                </div>
		                <div class="single_news_content">
		                    <h5 v-text="single.magazine_name"></h5>
		                    <h6>{{ single.date | moment("MMMM D, YYYY") }}</h6>
		                    <h2 v-text="single.title"></h2>
		                    <p v-html="single.description"></p>
		                    <a :href="single.link" class="single_news_btn">View Article</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
	</div>
</template>
<script>
	export default{
		name:'single-news',
		data(){
			return{
				single:[],
				prev:[],
				next:[],
				last:[],
				path:"/uploads/news/"
			}
		},
		beforeCreate(){
			axios.get('/get-single-news/'+this.$route.params.slug).then(response=>{
	           this.single = response.data.single,
	           this.prev = response.data.prev,
	           this.next = response.data.next,
	           this.last = response.data.last
		    })
		},
		watch:{
			$route (to, from){
				axios.get('/get-single-news/'+this.$route.params.slug).then(response=>{
					this.single = response.data.single,
					this.prev = response.data.prev,
					this.next = response.data.next,
					this.last = response.data.last
				});
			}
		}
	}
</script>
