<template>
  <div class="home">
    <full-page :options="options">
      <div class="section">
        Section1
      </div>
      <div class="section">
        Section2
      </div>
      <div class="section">
        Section3
      </div>
    </full-page>
  </div>
</template>

<script>
import FullPage from 'vue-fullpage.js'
export default {
  name: 'sliders',
  components: {
    FullPage
  },
  data() {
      return {
        options: {
          paddingTop: '30px',
          sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE'],
        },
      }
    }
}
</script>
<style>
  .section{
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
</style>
