<template>
<div>
	<router-link :style="'cursor: default'" :to="{ name: 'homesliders'}">
		<header>
			<div class="overlay"></div>
			<!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
				<nav class="navbar black"><div class="gradient-bg"></div> <div class="nav-underlay"></div> <div class="logo-nav-holder"><a href="/" class="site-link-component logo-nav active" exact="">One 57</a></div> <div class="hamburger"><div class="icon-bar-wrapper"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div></div> <div id="navlinks"><ul><li class="link-item"><a href="/one57" class="site-link-component router-link-exact-active active">One57</a></li> <li class="link-item"><a href="/location" class="site-link-component">Location</a></li> <li class="link-item mobile-link"><a href="/residences/signature-collection" class="site-link-component mobile-link">Signature Collection</a></li> <li class="link-item mobile-link"><a href="/residences/one-collection" class="site-link-component mobile-link">One Collection</a></li> <li class="desktop-link dropdown-li"><a data-to="res-dropdown" class="">
					Residences
				</a> <div class="nav-dropdown-component res-dropdown"><div class="nav-dropdown-component-arrow"></div> <div class="nav-dropdown-component-content"><div class="nav-dropdown-component-content-wrapper"><div class="flex-contain"><div data-index="0" class="nav-dropdown-option"><div class="description"><h3></h3> <h1>Signature Collection</h1> <p>Three to five bedroom residences on floors 39-90</p></div><a href="" class="site-link-component link"></a></div><div data-index="1" class="nav-dropdown-option"><div class="description"><h3></h3> <h1>One Collection</h1> <p>Fully furnished one to three bedroom residences on floors 32-38</p></div>  <a href="/residences/one-collection" class="site-link-component link"></a></div></div></div></div></div></li> <li class="link-item"><a href="/availability" class="site-link-component">Availability</a></li> <li class="link-item"><a href="/views" class="site-link-component">Views</a></li> <li class="link-item"><a href="/park-hyatt" class="site-link-component">Park Hyatt</a></li> <li class="link-item"><a href="/amenities" class="site-link-component">Amenities</a></li> <li class="link-item"><a href="/news" class="site-link-component">News</a></li> <li class="link-item"><a href="/extell" class="site-link-component">Extell</a></li> <li class="link-item"><a href="/gallery" class="site-link-component">Gallery</a></li> <li class="link-item"><a href="/contact" class="site-link-component">Contact</a></li></ul></div></nav>
				<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
			</video> -->

			<delay :wait="1000">
				<video-bg :sources="[url]" >
					<div class="container-fluid header-content">
						<div class="d-flex text-center align-items-center">
							<div class="text-overlay">
								<p class="text-overlay-body" v-html="welcome.introcontent"></p>
								<h1 class="text-overlay-title custom_animation" v-html="welcome.headline">The ACE is the Place</h1>
								<p>
									<router-link :to="{ name: 'homesliders'}" class="nav-link js-scroll" v-html="welcome.button_title">Explore</router-link>
								</p>
								<img src="/front/images/ace-logo_set.png" alt="logo" class="img-fluid">
							</div>
						</div>
					</div>
				</video-bg>
			</delay>

			<menubar></menubar>		
		</header>
	</router-link>
</div>
</template>

<script>
import VideoBg from 'vue-videobg'
import Delay from 'vue-delay';

	export default{
		name:'welcome',
		components: { VideoBg,Delay },
		data(){
			return{
				welcome:"",
				url:''
			}
		},
		beforeCreate(){
			axios.get('/get-home-welcome').then(response=>{
	           this.welcome = response.data,
	           this.url = response.data.background_url
		    });
		},		
	}
</script>
<style scoped>
    @keyframes expand{0%{letter-spacing:0px}100%{letter-spacing:7px}}
    .custom_animation{
        animation : expand 5s ease-out forwards;
    }
</style>