
body{
	font-family: 'Marcellus SC', serif;
	/*overflow: hidden !important;*/
}
/*body::-webkit-scrollbar {*/
/*display: none;*/
/*}*/
section{
	overflow: hidden;
}
.pl_7{
	padding-left: 7px;
}
.pr_7{
	padding-right: 7px;
}
.bg-black {
	background-color: black;
}
.bg-black nav {
	background-color: black;
}
.bg-grey  {
	background-color: grey;
}
.bg-dark-grey {
	background-color: #222;
}
.bg-dark-grey nav{
	background-color: #222;
}
.bg-grey nav {
	background-color: grey;
}
.bg-white {
	background-color: white;
}
.bg-white nav{
	background-color: white;
}
.bg-white .navbar-b.navbar-trans .nav-link,
.bg-white  .navbar-b.navbar-reduce .nav-link,
.bg-white .scroll-section-frame.subtitle-frame h5,
.bg-white .scroll-section-frame.title-frame h1,
.bg-white .scroll-section-frame.copy-frame p{
	color: black;
}
.bg-white .navbar-b .navbar-brand img {
	filter: brightness(0);
}




/*navbar start*/
.navbar-b {
	transition: all .5s ease-in-out;
	background-color: transparent;
	padding-top: 1.563rem;
	padding-bottom: 1.563rem;
}
.navbar-b.navbar-reduce {
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
	position: relative;
	padding-right: 10px;
	padding-left: 0;
}
.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 0px 10px;
	font-weight: 500;
}
.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
	content: '';
	position: absolute;
	margin-left: 0px;
	width: 0%;
	bottom: 0;
	top: 20px;
	left: 6px;
	height: 1px;
	transition: all 500ms ease;
}
.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
	color: #1B1B1B;
}
.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
	width: 85%;
}
.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
	width: 85%;
}
.navbar-b.navbar-trans .nav-link:before {
	background-color: #fff;
}
.navbar-b.navbar-trans .nav-link:hover {
	color: #fff;
}
.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
	color: #fff;
	font-weight: 500;
}
.navbar-b.navbar-reduce {
	transition: all .5s ease-in-out;
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-b.navbar-reduce .nav-link {
	color: #0078ff;
}
.navbar-b.navbar-reduce .nav-link:before {
	background-color: #0078ff;
}
.navbar-b.navbar-reduce .nav-link:hover {
	color: #0078ff;
}
.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
	color: #0078ff;
}
.navbar-b.navbar-reduce .navbar-brand {
	color: #0078ff;
}
.navbar-b.navbar-reduce .navbar-toggler span {
	background-color: #1B1B1B;
}
.navbar-b .navbar-brand {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
}
.navbar-b .navbar-brand img {
	width: 75px;
}
.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	visibility: visible !important;
}
.navbar-b .dropdown-menu {
	margin: 1.12rem 0 0;
	border-radius: 0;
}
.navbar-b .dropdown-menu .dropdown-item {
	padding: .7rem 1.7rem;
	transition: all 500ms ease;
}
.navbar-b .dropdown-menu .dropdown-item:hover {
	background-color: #0078ff;
	color: #fff;
	transition: all 500ms ease;
}
.navbar-b .dropdown-menu .dropdown-item.active {
	background-color: #0078ff;
}
.mobile-enquiry {
	display: none;
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler {
	position: relative;
}
.navbar-toggler:focus,
.navbar-toggler:active {
	outline: 0;
}
.navbar-toggler span {
	display: block;
	background-color: #fff;
	height: 3px;
	width: 25px;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	left: 0;
	opacity: 1;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	transition: -webkit-transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px;
	visibility: hidden;
	background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
}

/*navbar end*/
/* Header start
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
	position: relative;
	background-color: black;
	height: 100vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}
header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
header .container {
	position: relative;
	z-index: 2;
}
header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}
header .text-overlay{
	margin: 0 auto;
	color: white;
}
header .text-overlay .text-overlay-body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	max-width: 500px;
	font-size: 16px;
	letter-spacing: 1.2px;
	text-align: center;
	line-height: 28px;
	text-transform: none;
}
header .text-overlay a{
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	text-decoration: none;
}
header .text-overlay .text-overlay-title:before, header .text-overlay .text-overlay-title:after {
	content: "";
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 120px;
	height: 1px;
	background-color: #fff;
}
header .text-overlay .text-overlay-title:after {
	bottom: -80%;
}
header .text-overlay .text-overlay-title:before {
	top: -80%;
}
header .text-overlay .text-overlay-title {
	font-size: 50px;
	text-transform: uppercase;

}
header .text-overlay .text-overlay-title{
	margin: 100px auto;
	letter-spacing: 3px;
	position: relative;
}
header .navbar-responsive-set{
	display: none;
}
.text-overlay img{
	width: 100px;
	margin-top: 25px;
}
.header-ul-set{
	flex-direction: row;
	display: flex;
	justify-content: center;
}
.header-ul-set li{
	padding: 23px 12px;
	font-size: 14px;
}
.header-hide ul{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.header-content{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.header-content .align-items-center
{
	position: absolute;
	height: 100vh;
}


.overlay_nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 2;
	height: 0%;
}

.overlay_nav .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;

}

.overlay_nav a {
	padding: 12px;
	text-decoration: none;
	font-size: 16px;
	color: white;
	display: block;
	transition: 0.3s;
}

.overlay_nav .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
.open_nav_changes{
	position: absolute;
	z-index: 1;
	color: white;
	right: 0;
}
.header-navbar-set .navbar-brand, .header-navbar-set .open_nav_changes{
	position: absolute;
	z-index:1;
	padding: 15px;
}
.header-navbar-set{
	position: absolute;
	top: 50%;
	display: contents;
}
/*header .header_navbar_set{*/
/*display: none;*/
/*}*/
@media screen and (max-height: 450px) {
	.overlay_nav a {font-size: 20px}
	.overlay_nav .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
/*header end*/

/*home page slider start*/
 .swiper-container {
	 width: 100%;
	 height: 100%;
	 margin-left: auto;
	 margin-right: auto;
	 overflow: initial !important;
 }

.mycontent_wrapper{
	position: fixed;
	top: 42%;
	height: 100%;
	pointer-events: none;
	left: 44%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	max-width: 1140px;
	color: #fff;
	z-index: 99;
}

.mycontent_wrapper .subtitle{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	font-size: 25px;
	line-height: 30px;
	white-space: nowrap;
	text-transform: uppercase;
	overflow: hidden;
	width: 100%;
	color: white;
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
	height: 30px;
}

.mycontent_wrapper .title{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 2px 0 0;
	font-size: 70px;
	white-space: nowrap;
	text-transform: uppercase;
	overflow: hidden;
	width: 100%;
	color: white;
	-webkit-transform: translateY(60px);
	-ms-transform: translateY(60px);
	transform: translateY(60px);
	height: 85px;
}

.mycontent_wrapper .description{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	color: white;
	-webkit-transform: translateY(85px);
	-ms-transform: translateY(85px);
	transform: translateY(85px);
	height: 25px;
}


.mycontent_wrapper .description span p{
	margin: 0px;
}


@keyframes message{
	from, to, 65% {transform: translateY(0)}
	25% {transform: translateY(30px)}
	26% {transform: translateY(-30px)}

}

.mycontent_wrapper .subtitle span, .mycontent_wrapper .title span, .mycontent_wrapper .description span{
	width: 100%;
	display: block;
	overflow: hidden;
	-webkit-transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.slick-vertical .slick-slide {
	border: 1px solid black;
	background-color: black;
}
.img-content p,.img-content h1{
	color: white;
}
.img-content h1{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 2px 0 0;
	font-size: 80px;
	white-space: nowrap;
	text-transform: uppercase;
}
.home_slider_section {
	background-color: black;
	height: 100vh;
}
nav {
	background-color: transparent;
}
.home_slider_section nav{
	padding: 34px;
}
.slider_1{
	background: url('../../../uploads/homeslider/1.jpg');
	width: 100%;
	height: 88vh;
	background-repeat: no-repeat;
	position: relative;
	margin-top: 120px;
	background-size: cover;
}
.home_slider .slick-list{
	overflow: visible;
}
.home_slider_set .slider_1 .content{
	position: absolute;
	top: 50%;
	left: -60px;
	overflow: hidden;
}
.home_slider .slick-slide h1 {
	transform: translateY(98px);
	transition: all 0.8s ease;
}
.home_slider .slick-slide.slick-active h1 {
	transform: translateY(0);
	transition: all 0.8s ease;
}
.home_slider .slick-slide h2 {
	transform: translateY(98px);
	transition: all 0.6s ease;
}
.home_slider .slick-slide.slick-active h2 {
	transform: translateY(0);
	transition: all 0.6s ease;
}
.home_slider_set .slider_1 .content h1{
	color: #ddd;
	text-transform: capitalize;
	font-size: 60px;
	height: 60px;
}
.home_slider_set .slider_1 .content h2{
	color: #ddd;
	text-transform: capitalize;
	font-size: 25px;
	font-weight: 500;
	height: 30px;
}
@keyframes message{
	from, to, 65% {transform: translateY(0)}
	25% {transform: translateY(30px)}
	26% {transform: translateY(-30px)}

}
.slider_contant_set{
	text-align: center;
	color: white;
	height: 30px;
	overflow: hidden;
	-webkit-transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
.slider_contant_set h3{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	font-size: 25px;
	line-height: 30px;
	white-space: nowrap;
	text-transform: uppercase;
	color: #fff;
}
#fullpage{
	height: 100%;
	position: relative;
	touch-action: none;
	transform: translate3d(0px, -1388px, 0px);
	transition: all 0ms ease-in-out 0s;
}
.slider_contant_wrapper{
	position: fixed;
	height: 100%;
}
.slider_1 .slider_contant_set {
	transform: translateY(0%);
}
.slider_2 .slider_contant_set {
	transform: translateY(-100%);
}
.slider_3 .slider_contant_set {
	transform: translateY(-200%);
}
.home-wrapper {
	position: relative;
}
.home-wrapper .scroll-section-wrapper {
	position: fixed;
	top: 42%;
	height: 100%;
	pointer-events: none;
	/*left: 25px;*/
}
@media (min-width: 1300px) {
	.scroll-section-wrapper {
		left: 44%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
		max-width: 1140px;
	}
}
@media (max-width: 1300px) {
	.home-wrapper .scroll-section-wrapper {
		left: 40px;
	}
}
.scroll-section-frame.subtitle-frame, .home-component .scroll-section-frame.subtitle-frame .scroll-section {
	height: 30px;
}
.scroll-section-frame.subtitle-frame {
	-webkit-transform: translateY(48px);
	-ms-transform: translateY(48px);
	transform: translateY(48px);
}
.scroll-section-frame {
	overflow: hidden;
	width: 100%;
	color: white;
}

.scroll-section-frame.subtitle-frame, .scroll-section-frame.subtitle-frame .scroll-section {
	height: 30px;
}
.scroll-section-frame .scroll-section {
	overflow: hidden;
	-webkit-transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
.scroll-section-frame.title-frame, .scroll-section-frame.title-frame .scroll-section {
	height: 85px;
}
.scroll-section-frame.title-frame {
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
}
.scroll-section-frame.title-frame h1 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 2px 0 0;
	font-size: 80px;
	white-space: nowrap;
	text-transform: uppercase;
}
.scroll-section-frame.subtitle-frame h5 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	font-size: 25px;
	line-height: 30px;
	white-space: nowrap;
	text-transform: uppercase;
}
.scroll-section-frame.copy-frame p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	font-size: 19px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}
.scroll-section-frame.copy-frame, .home-component .scroll-section-frame.copy-frame .scroll-section {
	height: 22px;
}
.scroll-section-frame.copy-frame {
	-webkit-transform: translateY(70px);
	-ms-transform: translateY(70px);
	transform: translateY(70px);
}

@media (max-width: 576px){
	.news_li_content h3 {
		width: 120px!important;
		font-size: 14px!important;
	}
	.img-section .news-list-set2 {
		width: 100px!important;
		height: 42px!important;
	}
	.container_news{
		padding-left: 55px!important;
	}
	.img-section .news-list-set1 {
		width: 100px!important;
		height: 42px!important;
	}

	.container_news {
		margin: 230px auto;
	}
	.scroll-section-frame.subtitle-frame h5 {
		font-size: 18px;
	}
	.news-item-content .news-item-date {
		font-size: 12px;
	}
	.scroll-section-frame.title-frame h1 {
		font-size: 50px;
	}
	.scroll-section-frame.subtitle-frame, .scroll-section-frame.subtitle-frame .scroll-section {
		height: 28px;
	}
	.scroll-section-frame.title-frame, .scroll-section-frame.title-frame .scroll-section {
		height: 64px;
	}
	.scroll-section-frame.copy-frame {
		-webkit-transform: translateY(58px);
		-ms-transform: translateY(58px);
		transform: translateY(58px);
	}
	.home_slider_section .container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.home-wrapper .scroll-section-wrapper {
		left: 18px;
	}
}
/*home page slider end*/

/*contact page start*/
.homeslider_img{
	width: 100%;
	height: 88vh;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}
.contact_bg_img{
	background-image: url("../images/slider_1.jpg");
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.5);
}
.contact_bg_img .form_wrapper .form_container .title_container p {
	margin: 0 auto;
	font-size: 14px;
	padding: 0 15px;
}
.form_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 1;
	color: white;
	min-height: 100vh;
}
.form_wrapper h2{
	font-size: 28px;
	text-transform: uppercase;
	opacity: 0.7;
	color: rgba(255, 255, 255, 0.6);
}
.form_wrapper  form input,  .form_wrapper  form select ,.form_wrapper  form .input_field button{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-bottom: 10px;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid rgba(255,255,255,0.4);
	border-radius: 0px;
	background-color: transparent;
	-webkit-transition: border-color 100ms;
	-o-transition: border-color 100ms;
	transition: border-color 100ms;
	-webkit-appearance: none;
	color: white;
	text-align: start;
	font-size: 13px;
	opacity: 1;
}
.form_wrapper .form_container .input_field {
	position: relative;
}
.form_wrapper form .dropdown-menu{
	min-width: 292px;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 13px;
	left: 1px!important;
}
.form_wrapper select option:hover
{
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
.form_wrapper select {

	background: url(../images/select.png) no-repeat 95%;
}
.form_wrapper select option{
	color: black;
}
.dropdown, .dropup {
	position: absolute!important;
	z-index: 1;
}
::placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.form_wrapper  form .btn-set:focus {
	background-color: #2f2f2f;
}

.form_wrapper  form .btn-set {
	margin-top: 5px;
	padding: 10px 0px 10px 0px;
	border: 0;
	color: #fff;
	background-color: #4c4c4c;
	opacity: 1;
	text-align: center;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.5s ease;
}
.form_wrapper  form .btn-set:hover {
	background-color: #232323;
	transition: all 0.5s ease;
}
.bottom-section{
	padding-top: 16px;
}
.bottom-section p {
	max-width: 100%;
}
/*contact page end*/
/*gallery page start*/
.gallery .gallery-item img {
	height: 180px;
	width: 100%;
}

.modal-gallary .carousel-item img {
	width: 50%;
	/* height: calc(100% - 135px); */
	background-position: center top;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.news_li_content h3{
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 435px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	color: #6b6b6b;
}
.gallery{
	margin-top: 112px;
	padding-bottom: 60px;
}
.gallery-item{
	/*margin-bottom: 30px;*/
}
.modal-footer{
	text-align: center;
}
.pagination{
	margin: 0;
}
.modal-gallary .modal-body {
	padding: 0;
	height: 75vh;
	display: flex;
	align-items: center;
	transition: all 0.5s ease;
}
.modal-gallary .modal-content {
	background-color: transparent;
	border:none;
}
.modal-gallary .modal-header {
	border: none;
}
.modal-gallary {
	background-color: black;
}
.modal-gallary .modal-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border:none;
	position: fixed;
	bottom: 0;
}
.modal-gallary .modal-footer ul li a {
	color: white;
	font-size: 20px;
	padding: 0 10px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.modal-gallary .modal-footer ul li a:hover {
	text-decoration: none;
	color: white;
	transition: all 0.5s ease;
}
.modal-gallary .carousel-item {
	text-align: center;
}
.modal-gallary .carousel-item img{
	width: 40%;
}
.modal-gallary .pagination li.active {
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.5s ease;
	border-radius: 100%;
}
.modal-gallary .pagination li.active a:hover{
	color: black;
	transition: all 0.5s ease;
}
.modal-gallary .modal-prev,
.modal-gallary .modal-next {
	position: fixed;
	top: 50%;
	z-index: 1;
	right: 10px;
	transform: translateY(-50%);
}
.modal-gallary .modal-prev {
	left:10px;
	right: unset;
}
.modal-gallary .modal-prev a,
.modal-gallary .modal-next a {
	font-size: 50px !important;
}
.modal-gallary .close {
	position: fixed;
	top: 0;
	right: 20px;
	color: white;
	opacity: 1;
	font-size: 35px;
}
.modal-gallary.modal.fade .modal-dialog {
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
}
.modal-gallary.modal.show .modal-dialog {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.pt170{
	padding-top: 110px;
	background-color: #222;
}

.gallery_bg_img .isotopeContainer {
	padding-top: 125px;
}
.gallery_navbar{
	background-color: #222222;
	padding-top: 26px;

}
.zoom-gallery .row_center{
	text-align: center;
	justify-content:center;
}
.mt20{
	margin-top: 20px;
}
.gallery_pagination{
	text-align: center;
	margin-top: 20px;
}
.gallery_pagination .pagination1 {
	display: inline-block;
}

.gallery_pagination .pagination1 a {
	color: white;
	float: left;
	padding: 8px 6px;
	text-decoration: none;
}
.gallery_pagination .pagination1 a:hover {
	color: white;
}
.zoom-gallery h2{
	text-align: center;
	color: white;
	margin: 13px auto 20px auto;
	font-size: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
}
.zoom-gallery .gallery_3col_set{
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
.zoom-gallery .gallaery_img_WH{
	width: 275px;
	height: 193px;
}
.zoom-gallery .gallaery_img_WH_2{
	width: 180px;
	height: 193px;
}
.navbar .gradient-bg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 145px;
	-webkit-transition: opacity 600ms ease 600ms;
	-o-transition: opacity 600ms ease 600ms;
	transition: opacity 600ms ease 600ms;
	pointer-events: none;
	opacity: 1;
	background: linear-gradient(to bottom, #222, rgba(34,34,34,0.9), rgba(34,34,34,0.7), rgba(34,34,34,0));
	z-index: -1;
}
.p5{
	padding: 5px;
}
.gallery_bg_img{
	background-image: url("../images/slider_2.jpg");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
}

.gallery_all_page{
	text-align: center;
	width: 100%;

}

.form_width_set{
	width: 62%;
	text-align: center;
	margin: 0 auto;
}
.form_container{
	margin: 120px 0 70px 0;
}
/*gallery page end*/

/*News Page Start*/
.swiper-pagination{
	border: 1px solid;
	height: 500px;
}
.news-swiper-pagination{
	text-align: center;
	margin-top: 20px;
}
.dot{
	width: 5px;
	height: 5px;
	text-align: center;
	background: white;
	border-radius: 5px;
	margin: 0 auto;
}
.news_li_content{
	width: 63%;
	margin: 0 20px 10px;
}
.news_title{
	text-align: center;
	font-size: 32px;
	margin-bottom: 15px;
	font-weight: 600;
}
.container_news {
	margin: 110px auto;
	padding: 30px 50px 0px 200px;
	width: 100%;
	height: 100%;
	color: #333;
	background: #ffffff;
}
.slick-slide {
	text-align: center;
	color: #000000;
	background: #ffffff;
}
.container1 .single-item div{
	height: 488px;
}
.news_slider_content p{
	color: black;
	font-family: 'Marcellus SC', serif;
	text-align: center;
	align-items: center;
	width: 100%;
	padding: 20px 190px 0px;
	font-size: 20px;
}
.slick-dots li button:before {
	font-size: 50px!important;}
.news-item-logo{
	/*background-image: url("../images/news_logo_1.jpg");*/
	width: 100%;
	height: 110px;
	background-repeat: no-repeat;
}


.news_logo_set{
	width: 25%;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 16px 0;
}
.news_logo_set img{
	width: 170px;
	height: 76px;
}
.news-item-logo1{
	/*background-image: url("../images/news_logo_2.png");*/
	width: 100%;
	height: 110px;
	background-repeat: no-repeat;
}
.news-item-logo2{
	/*background-image: url("../images/news_logo_3.png");*/
	width: 100%;
	height: 110px;
	background-repeat: no-repeat;
}
.news-item-logo3{
	/*background-image: url("../images/news_logo_1.jpg");*/
	width: 100%;
	height: 110px;
	background-repeat: no-repeat;
}
.news-item-content .news-item-title{
	font-size: 22px;
}
.news-item-content{
	height: 50%;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: black;
}
.container_news .slick-next:before, .slick-prev:before{
	color: black!important;
}
.container_news .slick-next, .slick-prev{
	top: 50%;
}
.news-item-image{
	background-image: url("../images/slider_2.jpg");
	width: 100%;
	height: 110px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.news-item-image1{
	background-image: url("../images/slider_1.jpg");
	width: 100%;
	height: 110px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.news-item-image2{
	background-image: url("../images/slider_3.jpg");
	width: 100%;
	height: 110px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.news-item-image3{
	background-image: url("../images/slider_2.jpg");
	width: 100%;
	height: 110px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.news_ul_a_tag a{
	color:white!important;
	border: none;
}
.news_ul_a_tag li{
	border-bottom:1px solid gray;
	padding-bottom: 15px;
}
.news_ul_a_tag li:nth-last-child(0){
	display: none;
}
.news_ul_a_tag a:focus{
	outline: none;
}
.single-item hr{
	width: 100%;
	background-color: gray;
}
.single-item{
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-left: -30px;
}
.single-item hr:nth-last-child(1){
	display: none;
}
.news-item-content{
	margin-top: 10px;
	text-align: left;
}
.news-item-content .news_h3{
	font-size: 24px;
}
.news-item-content .news-item-date{
	font-size: 17px;
	color: #6b6b6b;
}
/*News Page End*/

/*ace page start*/
#wall .ace_slider{
	width: 50%;
}
.slick-prev {
	left: -30px;
	top: 42%;
}
.slick-prev:before {
	color: #000;
}
.slick-next {
	left: auto;
	right: -30px;
}
.ace_middel_section{
	background-color: black;
	padding: 85px 13px;
	overflow: hidden;
}
.ace_middel_section video{
	width: 100%;
}
.ace_middel_section figure{
	background: black;
}
.ace_middel_section .ace_fig1{
	padding: 50px 5px 0 0;
	color: white;
}
.ace_middel_section .ace_fig2{
	padding: 50px 0 0 5px;
	color: white;
}
.ace_middel_section .ace_fig2 p{
	letter-spacing: 1px;
	text-align: justify;
}
.ace_firstslider_content .text-overlay{
	color: white;
	margin: 0 auto;
	width: 50%;
}
.ace_firstslider_content .text-overlay h1{
	font-size: 78px;
}
.ace_firstslider_content .text-overlay p{
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
	text-align: center;
}
.ace_firstslider_content  .align-items-center{
	height: 100vh;
	width: 100%;
}
/*ace page end*/

/*about us page start*/
.ace_last_section{
	padding-top: 200px;
	background-color: black!important;
}
.aboutus_tabs_set .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	height: 50px;
}
.card .card-body {
	padding: 30px;
}
.ps-container {
	touch-action: none;
	overflow: hidden !important;
}
.scroll-demo {
	padding: 10px;
	position: relative;
	border: 1px solid #eeeeee;
	overflow: auto;
	height: 300px;
}
.img_section1{
	align-items: center;
	justify-content: center;
	width: 100%;
	display: flex;
}
.img_section1 ul{
	background: #0f5373;
	border-radius: unset;
	height: 50px;
}
.img_section1 ul a:hover{
	color: white;
}
.aboutus_tabs_set{
	height: 50vh;
	border: 1px solid #5d5d5d;
}
.nav-tabs .nav-link{
	border-radius: unset!important;
	border: none!important;
}
.aboutus_tabs_set .tab-content .tab-pane{
	margin: 20px 20px;
}
.tab-content p{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	font-size: 15px;
	filter: brightness(0);
	font-weight: 300;
}
.about_as_black img{
	filter: brightness(0.1);
}
.about_as_black ul li a{
	filter: brightness(0.1);
	color: black;
}
.about_as_black .mobile-enquiry{
	color: black;
}
.about_as_black button span{
	background: black;
}
.about_first_slider_content {
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
}
.about_first_slider_content .about_content{
	width: 100%;
}
.about_first_slider_content .about_card{
	padding: 30px 30px;
	margin-top: 22px;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	font-size: 16px;
	font-weight: 300;
	background: #fbfbfb;
	max-height: 480px;
	overflow: hidden;
}
.about_first_slider_content h1{
	font-size: 60px;
}
.slider_map iframe{
	height: 100vh;
	margin-top: 110px;
}
/*about as page end*/

/* single news page start */
.single_news{
	width: 100%;
	align-items: center;
	display: flex;
}
.single_news ul li{
	display: inline;
	margin: 0 15px;
}
.single_news ul li a{
	color: #b7b7b7;
	font-size: 20px;
}
.single_news ul li a:hover{
	text-decoration: none;
}
.single_news ul .last_next{
	float: right;
}
.single_news_div{
	width: 90%;
	margin: 150px auto 0px!important;
}
.single_news_img img{
	width: 350px;
}
.single_news_content_img{
	display: flex;
}
.single_news_content_img .single_news_content{
	width: 60%;
	margin-left: 50px;
}
.single_news_content_img .single_news_content p{
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	font-size: 14px;
	color: #5d5d5d;
	font-weight: 300;
}
.single_news_content h5{
	color: #b7b7b7;
	font-size: 20px;
}
.news_border{
	border: 1px solid #b7b7b7;
	margin: 20px 0px;
}
.single_news ul{
	margin: 0px!important;
	padding: 0px;
	width: 100%;
}
.first_news_li{
	margin: 0px!important;
}
.single_news_content .single_news_btn{
	margin-top: 10px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 36px;
	padding: 2px 14px 0px 14px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #ebebeb;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1;
	text-transform: uppercase;
	-webkit-transition: background-color 150ms;
	-o-transition: background-color 150ms;
	transition: background-color 150ms;
}

/* single news page end */
 /*amenities page start*/
.slider_nav_upper_text_set .amenities_second_slider{
display: flex;
    color: white;
    margin: 0 auto;
    width: 60%;
 }
 .amenities_second_slider1{
 	 color: white;
    margin: 0 auto;
    width: 100%;
 }
 .slider_nav_upper_text_set .amenities_second_slider p{
 	    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    text-align: center;
 }
 .ace_firstslider_content .amenities_second_slider .amenities_second_slider_text{
width: 60%;
	text-align: left;
 }
  .ace_firstslider_content .amenities_second_slider .amenities_second_slider_text1{
width: 100%;
	text-align: left;
 }
 .ace_firstslider_content .amenities_second_slider_text1{
 	    width: 50%;
    margin-left: 480px;
 }
 .amenities_second_slider1 p{
 	width: 60%;
 }
   .ace_firstslider_content .amenities_second_slider1 {
font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    text-align: left;
    width: 100%;
   }
  .ace_firstslider_content .amenities_second_slider .amenities_second_slider_text h4{
  	font-size: 16px;
  }
 .slider_nav_upper_text_set .text-center{
 	    position: absolute;
    /* height: 100vh; */
    top: 80%;
    left: 0;
    z-index: 6;
    width: 100%;
 }

 .amenities_bg_black{
 	background-color: black;
 	height: 100vh;
 }
 .amenities_second_column img{
 	 height: calc(90vh - 3px );
 }
.amenities_header{
	padding-top: 100px;
	background: black;
}
.amenities_header .amenities_first_column{
	max-height: 100vh;
    overflow: hidden;
    height: calc(90vh - 3px);
}
.amenities_header .amenities_second_column{
	    height: 89vh;
    /* overflow: hidden; */
    background-color: black;
}
.amenities_second_slider p{
	width: 60%;
	text-align: left!important;
}
/*amenities page end*/
/*view page start*/
section video{
	width: 100%;
}
section img{
	width: 100%;
}
/*first slider swiper start*/
.slider_overlay_content{
	position: absolute;
	width: 100%;
	color: white;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
}
.slider_overlay_content .text-center{
	 
    position: absolute;
    top: 0;
    left: 0px;
    /*bottom: 0;*/
    width: 100%;
    transform: translatey(-50%);
 /*   height: 100vh;*/
  /*  background-color: rgba(0,0,0,0.5);*/
/*    opacity: 1;*/
}
.slider_overlay_content .text-overlay{
	width: 32%;
	margin: 0 auto;
}
.slider_overlay_content .text-overlay h1{
	font-size: 78px;
}
.slider_overlay_content .text-overlay p{
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
	text-align: center;
}
/*.fisrt_slider_content{*/
	/*position: absolute;*/
	/*z-index: 2;*/
	/*color: white;*/
	/*width: 100%;*/
	/*height: 100vh;*/
	/*text-align: center;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*display: flex;*/
	/*background-color: rgba(0,0,0,0.5);*/
/*}*/
/*.fisrt_slider_content .slider_text-overlay{width: 30%;}*/
/*.slider_overlay{    z-index: 3;*/
	/*position: absolute;*/
	/*top: 0px;*/
	/*left: 0px;*/
	/*width: 100%;*/
	/*height: 100vh;*/
	/*background-color: rgba(0,0,0,0.5);*/
	/*opacity: 1;*/
	/*-webkit-transition: opacity 750ms;*/
	/*-o-transition: opacity 750ms;*/
	/*transition: opacity 750ms;}*/
/*fisrt slider swiper end*/

/*---------start----------*/
.section:first-of-type h1 {
	font-size: 100px;
}
.current h1 {
	opacity: 1;
	transform: translateY(0);
}
.sub-header {
	text-align: center;
	margin-bottom: 20px;
}

.sub-header>h5 {
	display: inline-block;
	padding: 10px 20px;
	background-color: #fff;
	box-shadow: 2px 2px 2px #333;
	color: #333;
	text-align: center;
	margin: 0 auto;
}

.wrapper {
	max-width: 1000px;
	width: 98%;
	margin: 0 auto;
}

.slider_nav .nav {
	position: fixed;
	width: auto;
	background: none;
	left: 50%;
	transform: translateX(-50%);
	bottom: 15px;
	border: 1px solid rgba(255,255,255,0.13);
	border-radius: 5px;
	background-color: rgba(34,34,34,0.7);
	z-index: 9 !important;
}

.slider_nav .nav li {
	color: white;
	padding: 5px 10px 7px 10px;
	cursor: pointer;
	position: relative;
	transition: all 0.5s ease;
}
.slider_nav .nav li a{
	color: white;
	cursor: pointer;
	position: relative;
	transition: all 0.5s ease;
	text-transform: capitalize;
}
.slider_nav .nav li a:hover{
	text-decoration: none;
}
.slider_nav .nav li:first-child {
	color: rgba(246,246,246,0.5);
	text-transform: capitalize;
	padding-right: 18px;
	margin-right: 10px;
}

.slider_nav .nav li:first-child:after {
	content: "";
	position: absolute;
	height: 25px;
	right: 0;
	width: 1px;
	background-color: rgba(255,255,255,0.5);
	top: 6px;
}

.slider_nav .nav li.active:before {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	background-color: white;
	border-radius: 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5px;
	transition: all 0.5s ease;
}
.nav-link {
	position: relative;
	display: inline-block;
	color: #fff;
	cursor: pointer;
}
.nav-link:hover::after,
.nav-link.active::after {
	width: 100%;
}
.step {
	display: inline-block;
	background: #333;
	border-radius: 2px;
	padding: 10px 20px;
}
.prev-slide,
.next-slide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	height: 30px;
	width: 30px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
.prev-slide {
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
	left: 100px;
}
.next-slide {
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
	transform: translateY(-50%) rotate(45deg);
	right: 100px;
}
.prev-slide:hover {
	transform: translateY(-50%) rotate(-45deg) scale(1.1);
}
.next-slide:hover {
	transform: translateY(-50%) rotate(45deg) scale(1.1);
}
.section-1 {
	position: relative;
	height: 100vh !important;
}
.inner-part{
	max-height: 100vh;
	overflow: hidden;
	height: 100vh;
}
.img-section {
	height: 100vh;
	overflow: hidden;
	background-color: white;
}
/*.img-section img {*/
	/*width: 180px;*/
	/*height: 76px;*/
	/*margin-bottom: 4px;*/
/*}*/
.img-section .news-list-set1{
	 width: 150px;
	 height: 76px;
 }
.img-section .news-list-set2{
	width: 180px;
	height: 76px;
}
/*.news-list{*/
	/*margin:auto !important;*/
/*}*/
.img-content {
	display: flex;
	height: 100vh;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 100px;
}
.img-content >div {
	max-width: 30%;
}
.p-t-l .img-content{
	align-items: flex-start;
	justify-content: flex-start;
}
.p-t-c .img-content{
	align-items: flex-start;
	justify-content: center;
}
.p-t-r .img-content{
	align-items: flex-start;
	justify-content: flex-end;
}
.p-c-l .img-content{
	align-items: center;
	justify-content: flex-start;
}
.p-c-c .img-content{
	align-items: center;
	justify-content: center;
}
.p-c-r .img-content{
	align-items: center;
	justify-content: flex-end;
}
.p-b-l .img-content{
	align-items: flex-end;
	justify-content: flex-start;
}
.p-b-c .img-content{
	align-items: flex-end;
	justify-content: center;
}
.p-b-r .img-content{
	align-items: flex-end;
	justify-content: flex-end;
}
/*---------end------------*/
/*Media (Responsive)*/
/*–––––––––––––––––––––––––––––––––––––––––––––––––– *!*/
@media (min-width: 1920px){
	.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item
	{
		padding-right: 0px;
	}
}
@media (max-width: 1920px){
	.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item
	{
		padding-right: 0px;
	}
}
@media (max-width: 1410px){
	#app .navbar{
		position: absolute!important;
		left: 0;
		width: 100%;
		right: 0;
		margin: 0 auto;
	}
	#app li a {
		padding: 0 12px!important;
		font-size: 13px;
	}
	.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item{
		padding: 0px;
	}
}
@media (max-width: 1366px)
{
	#app .navbar {
		width: 95%;
	}

}

@media (max-width: 1199px) {
	.container_news {
		margin: 120px auto;
		padding: 30px 50px 0px 73px;
	}
	.single-item{
		margin: 0;
	}
	#fp-nav{
		display: none;
	}
	header .navbar-responsive-set{
		display: block;
	}
	#app li a{
		font-size: 15px;
	}
	/*header .header_navbar_set{*/
	/*display: block;*/
	/*padding-top: 10px;*/
	/*}*/
	.navbar_nav_modify{
		width: 100vw;
		left: 0;
		position: fixed;
		height: 100vh;
		background-color: #0b263f;
		top: 0;
		padding: 120px 0px;
	}
	.navbar_nav_modify li a{
		font-size: 14!important;
	}
	.navbar_aboutus_modify {
		width: 100vw;
		left: 0;
		position: fixed;
		height: 100vh;
		background-color: #ececec;
		top: 0;
		padding: 120px 0 40px;
	}
	.navbar_aboutus_modify li a{
		font-size: 14px!important;
	}
	.navabr_btn-set{
		z-index: 1;
	}
	.navbar_brand_set{
		z-index: 1;
	}
	nav ul li {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100vh;
	}
	header .header_nav{
		display: block;
	}
	.collapse.show{
		background-color: #152e43;

	}
	.navbar{
		display: inline-block;
	}
	.mobile-enquiry {
		display: block;
		color: white;
		text-transform: capitalize;
		text-decoration: none;
		z-index: 1;
	}
	.mobile-enquiry:hover {
		color: white;
		text-decoration: none;
	}
	ul li{
		text-align: center;
		margin: 5px auto;
	}

}
@media (min-width: 992px) {
	.modal-gallary .modal-lg {
		max-width: 100vw;
	}
}
@media(max-width: 991px){
	.news_li_content h3{
		width: 325px;
		font-size: 17px;
	}
	.container_news{
		margin: 130px auto;
		padding: 0;
	}

	.news_ul_a_tag li{
		margin: 0px;
	}
	.img-section .news-list-set2 {
		width: 170px;
	}
	header .text-overlay .text-overlay-title {
		font-size: 45px!important;
	}
	.scroll-section-frame.title-frame h1 {
		font-size: 60px;
	}
}
@media screen and (max-width: 767px) {
	nav ul {
		flex-direction: column;
	}
	.news_title{font-size: 30px; margin-bottom: 10px;}
	.news-item-content {
    margin-top: 5px;
}
.swiper-slide[data-v-560d902a] {
    margin-top: 8px!important;
}
	.news_li_content h3 {
		width: 200px;
		font-size: 16px;
	}
	.img-section .news-list-set2 {
		width: 120px;
		height: 52px;
	}
	.container_news{
		padding-left: 25px;
	}
	.img-section .news-list-set1 {
		width: 120px;
		height: 52px;
	}
	.news_li_content{
		margin: 0 20px 0;
	}
	.news_ul_a_tag li{
		padding-bottom: 5px;
	}
	.container_news {
		margin: 230px auto;
	}
	.news-item-content .news-item-date {
		font-size: 14px;
	}
	.gallery img{
		margin: 2px;
		width: auto;
		max-width: 255px;
		height: 170px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.zoom-gallery .gallery_3col_set{
		display: contents;
		text-align: center;
		justify-content: end;
		width: 100%;
	}
	header .text-overlay .text-overlay-title {
		font-size: 29px!important;
	}
	nav li {
		margin-top: 1px;
	}

	nav li a {
		font-size: 1.5em;
	}

	.scroll-icon {
		display: none;
	}
	.scroll-section-frame.subtitle-frame h5 {
		font-size: 16px;
	}
	.scroll-section-frame.title-frame h1 {
		font-size: 40px;
	}
	.scroll-section-frame.title-frame, .scroll-section-frame.title-frame .scroll-section {
		height: 60px;
	}
	.scroll-section-frame.copy-frame {
		-webkit-transform: translateY(52px);
		-ms-transform: translateY(52px);
		transform: translateY(52px);
	}
	header .text-overlay .text-overlay-body {
		max-width: 475px!important;
		font-size: 15px!important;
	}
	.scroll-section-frame.copy-frame p {
		font-size: 16px;
	}
	header .text-overlay .text-overlay-title:before{
		top: -140%;
	}
	header .text-overlay .text-overlay-title:after{
		bottom: -140%;
	}
}
@media (max-width: 650px) {
	.slider_nav .nav {
		display: none;
	}
	.section {
		padding-top: 30px;
	}
	.slide {
		padding-top: 30px;
	}
}
@media(max-width: 576px){
	header .text-overlay .text-overlay-title {
		font-size: 25px!important;
	}
	.scroll-section-frame.copy-frame p {
		font-size: 15px;
	}
	.img-section .single-item ul{
		    margin-left: 20px;
	}
	.img-section .single-item .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
		width: 82%!important;
	}
	.slider_1 {
		margin-top: 80px;
	}
	header .text-overlay .text-overlay-body {
		max-width: 370px!important;
		font-size: 15px!important;
		margin: 0 56px;
	}
	.home_slider_section nav {
		padding: 10px;
	}
	.form_width_set {
		width: 80%;
	}
	.form_container {
		margin: 100px 0 70px 0;
	}
}
@media(max-width: 480px){
	header .text-overlay .text-overlay-title {
		font-size: 22px!important;
	}
	.navbar-b .navbar-brand img {
		width: 50px;
	}
	.img-section .news-list-set2,.img-section .news-list-set1 {
    width: 85px!important;
    height: 37px!important;
}
	.container_news{padding: 0 50px;}
	.news-item-content .news-item-date {
    font-size: 11px;
}
	.news-item-content{margin-top: 0;}
	.news_li_content h3 {
    width: 100px!important;
    font-size: 12px!important;
}
	.scroll-section-frame.title-frame h1 {
		font-size: 32px;
	}
	header .text-overlay .text-overlay-title:before {
		top: -200%;
	}
	header .text-overlay .text-overlay-title:after {
		bottom: -200%;
	}
}
@media(max-width: 420px){
	header .text-overlay .text-overlay-title {
		font-size: 25px!important;
	}
	header .text-overlay .text-overlay-body {
		max-width: 325px!important;
		font-size: 12px!important;
		margin: 0px 25px;
	}
	header .text-overlay .text-overlay-title {
		font-size: 18px!important;
	}
	header .text-overlay .text-overlay-title {
		margin: 80px auto!important;
	}
	.scroll-section-frame.subtitle-frame h5 {
		font-size: 14px;
	}
	.scroll-section-frame.title-frame h1 {
		font-size: 25px;
	}
	.scroll-section-frame.copy-frame p {
		font-size: 12px;
	}
	.scroll-section-frame.title-frame, .scroll-section-frame.title-frame .scroll-section {
		height: 32px;
	}
	.scroll-section-frame.copy-frame, .home-component .scroll-section-frame.copy-frame .scroll-section {
		height: 20px;
	}
}
@media screen and (max-width: 400px) {
	html {
		font-size: 50%;
	}
	.open-menu ~ nav {
		padding: 20px 0;
	}
	nav li a {
		padding: 3px;
	}
}
@media(max-width: 360px) {
	header .text-overlay .text-overlay-title {
		font-size: 14px !important;
	}
	header .text-overlay .text-overlay-title {
		margin: 65px auto!important;
	}
	header .text-overlay .text-overlay-body {
		max-width: 305px!important;
		font-size: 11px!important;
		margin: 0px 9px;
	}
	.scroll-section-frame.subtitle-frame h5 {
		font-size: 12px;
	}
}
/*color black class add start*/
.color-black.navbar-b.navbar-trans .nav-link,.color-black.navbar-b.navbar-reduce .nav-link {
	color: black;
}
.color-black.navbar-b .navbar-brand{
	filter: brightness(0);
}
/*color black class end*/